@model FilRouge.Web.Models.QuestionModels

@{
    ViewBag.Title = "Details";
}

<h2>Question - Details</h2>

<div>
    <h4>Informations détaillées d'une question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionId)
        </dd>
        <dt>
            Difficulté:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DifficultyName)
        </dd>
        <dt>
            Technologie:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnologyName)
        </dd>
        <dt>
            Libellé:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<table>
    <tr>
        <th>
            Propositions
        </th>
        <th>
            Bonne Réponse
        </th>
    </tr>
    @foreach (var response in Model.Responses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => response.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => response.IsTrue)
            </td>
        </tr>
    }
</table>


<br />
<table>
    <tr>
        <th>
            Commentaires
        </th>
    </tr>
    @foreach (var comment in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => comment)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    