@model ICollection<FilRouge.Web.Models.QuestionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-dark table-hover">
    <tr>
        <th>
            Detail
        </th>
        <th>
            Technology
        </th>
        <th>
            Level
        </th>
        <th>
            Content
        </th>
        <th>
            Type
        </th>
        <th>
            Active
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href='@Url.Action("Details", "Question", new { id=item.QuestionId})'>
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.QuestionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.QuestionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.QuestionId })
            </td>
        </tr>
}
</table>
